<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
   
</head>

<body>
    {% include 'Navbar.html' %}
    <div class="container">
        <h2 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;"> Welcome to Best Cars dealership</h2>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div class="card text-white bg-dark mb-3" style="max-width: 66rem;">
        <div class="container">
            <div class="row">
                <div class="col">
                    Home to the best cars in North America.
                    We sell domestic and imported cars at reasonable prices.
                </div>
            </div>
        </div>
    </div> 
    
    <div class="card text-white bg-dark mb-3" style="max-width: 200rem;">
        <div class="card-header"> Our Roots</div>
        <div class="card-body">
            <h5 class="card-title">We innovative solutions, connect buyers, & sellers to match people with their perfect car.</h5>
        </div>
<!-- Background image -->
<div class="bg-image" 
style="background-image: url('https://images.projectsgeek.com/2016/01/Online-Vehicle-Showroom.jpg');
       height: 65vh; width: 110vh">
</div>
<!-- Background image -->
</body>
<!-- Background image -->
<div class="container  p-4 pb-0">
    <footer class="text-center text-lg-start" style="background-color: #0a4275; position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;">
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0.9, 0.5, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://Bestcar.com/">Bestcar Dealership.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    
</div>
</html>
