<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
            <div class="container-fluid">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'djangoapp:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </li>
                
            </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <div class="container-fluid">
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout'%}">Logout</a>
                    </div>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                            <div class="input-group">
                                <input  type="text" class="form-control" placeholder="Username" name="username" >
                                <input type="password" class="form-control" placeholder="Password" name="psw" >
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a style="padding:1%" class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
        </nav>
    <!--Add review form here -->
    <form action="{% url 'djangoapp:add_review' dealer.id %}" method="post">
        <div class="container">
            {% csrf_token %}
            <h1>Write a review about {{dealer.full_name}}</h1>
            <hr>
            <div class="mb-3">
                <label for="review"><b>Enter the review content:</b></label>
                <textarea class="form-control" id="review" name="review" rows="2" required></textarea>
                <div class="form-check">
                <br><input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                <label class="form-check-label" for="purchasecheck"><b>Has purchased the car from {{dealer.full_name}} ? </b><br></label>
                <br>
                <br> 
                </div>
                <div class="mb-3">
                    <label for="car"><b>Select your Car(model-make-year):</b></label>
                    <select name="car" id="car" class="form-select" required>
                        {% for car in cars %}
                            <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year |date:"Y" }}</option>
                        {% endfor %}
                    </select> 

                </div>
                <label for="purchase_date"><b>Select Your Purchase Date:</b></label><br>
                <input type="date" class="form-control" name="purchasedate" >
                <hr/>  <br>                 
                <button class="btn btn-primary" type="submit" formmethod="post">Submit</button>
            </div>
        </div>
    </form>
    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        });
    </script>
</html>

